# Python bytecode
.venv/
__pycache__/
*.pyc
*.pyo
.DS_Store

# Virtual environment folders
env/
venv/
.env
vosk-model-small-en-us-0.15/
token.pickle
sample.py
temp
t.py
speech.mp3
index.py
start_AI.bat
w2.py
Testing
contacts.json
contacts.xlt
contacts.py
new.py
updated_contacts.csv
test.py
test2.py
PyWhatKit_DB.txt
jarvisResponse
features/temp
whatsapp.py
desktop.ini
Dockerfile
# Ignore logs
*.log

# Node modules
node_modules/
credentials.json
