# Python bytecode
.venv/
__pycache__/
*.pyc
*.pyo
.DS_Store

# Virtual environment folders
env/
venv/
.env
vosk-model-small-en-us-0.15/
token.pickle
sample.py
whatsapp.py

# Ignore logs
*.log

# Node modules
node_modules/
credentials.json
