numpy
pyttsx3
google-api-core
google-auth-oauthlib
google-auth
google-api-python-client
geocoder
requests
PyPDF2
pygame
ffpyplayer
google-generativeai
python-dotenv
whisper
sounddevice
opencv-python
pydub
wikipedia-api
speedtest-cli
keyboard
psutil
